
*{
    box-sizing: border-box;
    
}

body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(Plant\ back2.jpg);
    background-color:lightgreen;
    
    display: flex;
    align-items: center;
    justify-content: center;
      text-align: center;
      margin: 0;
      min-height: 100vh;
}


header  {
    color: #fff;
    text-align: center;
}


 #id-search {
     margin-bottom: 2rem;
 }
 
 label {
       
    
    font-weight: bold;
     
}



 .mobile-container {
     
     width:400px;
     max-width: 60%;
     box-shadow: 4px 4px 6px;
     background-color: rgb(46, 158, 46);
     border-radius: 10px;
     min-height: 80vh;
 }
  
 
 form {
    
     padding: 6rem 0 0 0;
 }



  img {
    height: 100px;
    max-width: 80%;
    
  }

 button {
     font-weight: bold;
  
 }


  .info-container {
      background-color: rgb(154, 190, 154);
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
        top:0; 
        left: 0;
        right: 0;
        bottom: 0;
  }


 .info-container.hidden {
     opacity: 0;
     pointer-events: none;
 }


    .info-wrapper {
        color: #fff;
        overflow: auto;
        position: relative;
        align-items: center;
        background-color: rgb(6, 77, 6);
        padding:10px ;
        max-width: 80%;
        width: 600px;
        height: 100vh;
        border-radius: 6px;
    }

  .info-popup {
    font-size: 1rem;
     position: absolute; 
       top: 0;
       right: 0;
  }
  



  span {
      margin-left: 5px;
  }

   li {
       list-style-type: none;
   }

    a {
        color:#fff
    }


    .spin {
        background-color: rgb(65, 50, 50);
        background-image:url(Plant\ back.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
         position: fixed;
        top:0; 
        left: 0;
        right: 0;
        bottom: 0;
        
    }
    
    .spin.hidden {
          opacity: 0;
          pointer-events: none;
    }


    .circle {
           
        color:#fff;
         
         animation: spin 3s infinite;
         border: 2px solid;
     }

      
     

     @keyframes spin {
         from {
             transform: rotate(0deg);
         }

         to {
             transform: rotate(360deg);
         }
     }